@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Main Content General Styling */
body {
    background: #2c2c2c;
    color: #efefef;
    font-family: sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content {
    max-width: 750px;
    margin: 10rem auto;
}

/* Character Cards */
.card-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin: 10rem;
}

.card {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
    flex: 1 0 50%;
    box-shadow: 1px 1px 1px 1px #2c2c2c;
    margin: 1rem;
}

/* Home Page */
.home-page__title {
    text-align: center;
}

/* Buttons */
.btn {
    display: inline-block;
    background: black;
    color: #efefef;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-black {
  background: black;
  color: #efefef;
}
  /*CurrentItems Input  */
.form-container {
    max-width: 850px;
    margin: 10rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

.form-group {
    margin: 1.2rem 0;
}

.form-group input {
    margin: .2rem 0;
}

input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #EFEFEF;
  font-size: 24px;
}
.form-radio-select {
    display: flex;
    flex-direction: column;
}

.form-radio-select li {
    list-style: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.radio-items-tier-one {
    margin-top: .5rem;
}

.tier-one-label {
    margin-top: 1rem;
}

.current-items__form {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
}

.current-items__input {
   border: none;
   margin: .5rem;
   flex: 1 0 35px;
   font-size: 18px;
}

.current-items__label {
    margin: .5rem;
    font-size: 18px;
}
.current-items-form-container {
    max-width: 1200px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Navbar */
.navbar {
   background: black;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
}

.navbar__title>a {
    text-decoration: none;
    color: #efefef;
    margin: 1rem;
    font-size: 2rem;
}

.navbar__items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar__item>a {
    color: #efefef;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.50rem;
}


