body {
    background: #2c2c2c;
    color: #efefef;
    font-family: sans-serif;
}

.main-content {
    max-width: 1440px;
    margin: 0 auto;
}

.home-page__title {
    color: #2cef;
    text-align: center;
}