@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
    --color-bg-1: #2c2c2c;
    --color-dark-1: #000000;
    --font-color-1: #FFD100;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--color-bg-1);
}

*, *::before, *::after {
    box-sizing: inherit;
}

