.current-items__form {
    display: flex;
    flex-direction: column;
    width: 1440px;
    flex: 1 0 50%;
}

.current-items__input {
   border: none;
   margin: .5rem;
   flex: 1 0 35px;
   font-size: 18px;
}

.current-items__label {
    margin: .5rem;
    font-size: 18px;
}