.Navbar {
 display: flex;
 flex-direction: column;
 position: fixed;
 width: 50%;
 height: 100%;
 z-index: 999;
 left: -600px;
 top: 0;
 overflow-x: visible;
 overflow-y: auto;
 transition: left 0.6s ease;
 background: #000;
 align-items: center;
 width: 100%;
}

.NavbarTitle>a {
 text-decoration: none;
 color: #FFD100;
}

.NavbarItems {
 display: flex;
 flex-direction: row;
 list-style: none;
}

.NavbarItem>a {
  color: #FFD100;
}

.NavbarItem>a:hover {
 
}

/* Larger screen sizes */

@media screen and (min-width: 768px) {
  .Navbar {
  background: #000;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2rem;
}

  .NavbarTitle>a {
  text-decoration: none;
  color: #FFCD55;
  font-size: 2rem;  
}

.NavbarItems {
  list-style: none;
  display: flex;
  line-height: 1rem;
}

.NavbarItem>a {
  color: #FFD100;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.NavbarLogout {
  font-size: 1.5rem;
}

.NavbarItem>a:hover {
  background: #2c2c2c;
  border-radius: 10px;
  text-decoration: underline;
}
}

