.form-container {
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

.radio-items-tier-one {
    margin-top: .5rem;
}

.tier-one-label {
    margin-top: 1rem;
}
