.navbar {
   background: black;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.navbar__title>a {
    text-decoration: none;
    color: #efefef;
    margin: 1rem;
    font-size: 2rem;
}

.navbar__items {
    list-style: none;
    display: flex;
}

.navbar__item>a {
    color: #efefef;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.50rem;
}